.errorContainer {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 10;
    background-color: var(--white);
    width: 100%;
    height: fit-content;
    min-height: 200px;
    box-shadow: 20px 0 20px rgba(0,0,0,0.2);
    border-top: 3px solid var(--red);
    border-bottom: 3px solid var(--red);
    margin-top: 25px;
}

.closeBtn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 45px;
    color: var(--red);
    cursor: pointer;
}

.messageError {
    margin-top: 60px;
    margin-bottom: 20px;
    width: 80%;
    text-align: center;
    font-family: var(--paragraphs);
    font-weight: 300;
    font-size: 1rem;
    color: var(--red);
}