.pageLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: var(--mobilePattern);
    background-position: 150px 200px;
    min-height: calc(100dvh - 70px);
}

.summary {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100dvw;
    padding: 30px 20px 15px 20px;
    background-color: var(--darkGreen);
    z-index: 1;
}

.summary::after {
    content: "";
    position: absolute;
    bottom: -20px;
    width: 100%;
    height: 40px;
    background-color: var(--darkGreen);
    border-radius: 50%;
    z-index: -1;
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
}

.summary > p {
    width: 100%;
    max-width: 620px;
    line-height: 1.4rem;
    letter-spacing: 0.03rem;
    font-weight: 300;
    text-align: center;
}


.summary > p:nth-child(1),
.summary > p:nth-child(2) {
    text-align: center;
    font-family: var(--titles);
    font-size: 1.4rem;
}

/* CONSCIOUS CARBON */
.summary > p:nth-child(2) {
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    font-style: normal;
    line-height: 1.6rem;
    margin-bottom: 15px;
}

.summary > p em {
    font-weight: 600;
}

.callToAction {
    position: relative;
    background-color: var(--red);
    padding: 15px 25px;
    text-align: center;
    border-radius: 10px;
    margin: 15px 0 5px 0;
    cursor: pointer;
    font-size: 0.8rem;
    text-transform: uppercase;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

.callToAction:hover {
    transform: scale(1.05);
    background-color: var(--red);
    transition: all 0.3s ease;
}

.callToAction::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: inset 2px 2px 5px rgba(255,255,255,0.3);
}

.logotypeContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    padding-top: 60px;
}

.logo {
    width: 40%;
    max-width: 200px;
    min-width: 50px;
}

.heading {
    text-align: center;
    font-family: var(--titles);
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--black);
    margin: 0 15px;
}

/* TABLET MEDIA QUERIES */
@media only screen and (min-width: 640px) {
    .heading {
        font-size: 2.5rem;
    }
}

/* DESKTOP MEDIA QUERIES */
@media only screen and (min-width: 768px) {
    .pageLayout {
        background-image: var(--desktopPattern);
    }

    .heading {
        font-size: 3rem;
    }
}

